UnitTest.FandP.PriceCalculator/Service References/ReferenceServiceClient/TIAReferenceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gfdbendsvc.gf-forsikring.dk:10060/TIAReferenceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" />
  <xs:element name="GetXlaReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="req" nillable="true" type="q1:xla_reference_request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXlaReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXlaReferenceResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="res" nillable="true" type="q2:xla_reference_response" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXlaPeReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="req" nillable="true" type="q3:xla_pe_reference_request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXlaPeReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXlaPeReferenceResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="res" nillable="true" type="q4:xla_pe_reference_response" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTariffCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="req" nillable="true" type="q5:tariff_codes_request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTariffCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTariffCodeResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="res" nillable="true" type="q6:tariff_codes_response" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="req" nillable="true" type="q7:gf_club_request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClubNumberResult" type="xs:boolean" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GF.Service.TIA.Reference.DOM" minOccurs="0" name="res" nillable="true" type="q8:gf_club_response" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>